@model IEnumerable<WebStore.Models.EmployeeView>
@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8"/>
    <h1>Список сотрудников:</h1>
</head>
<body>
    <table>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SurName</td>
            <td>@Html.ActionLink("Детали","Details",new { s_id = item.id})</td>
        </tr>
        }
        </table>
    </body>
</html>

